/* About Me */


.about_text{
    color:rgb(46, 43, 43) !important;
    font: smaller !important;
    line-height: 22px !important;
    white-space: pre-line !important;
    margin-bottom: 20px!important;
}

/* work and education timeline */


.resume_timeline .timeline_content .timeline_title {
    font-size: 16px !important;
    font-weight: 500 !important;
}
.resume_timeline .timeline_content .timeline_date {
    color: rgb(68, 67, 67);
}
.resume_timeline .timeline_content .timeline_description{
    color: gray;
    font-size: small;
    margin-top: 6px;
   

}


/* job skills */


.jobSkill{
    height: 100%;
    text-align: center;
}

.jobSkill .jobSkill_title {
    font-size: 16px!important;
    font-weight: 500!important;
    line-height: 35px;
    text-align: center;
}

.jobSkill .jobSkill_description{
    color: #989898 !important;
    border-color: var(--main-color) !important;
    margin-right: 5px !important;
    text-align: center;
}
.jobSkill_icon > .MulSvgIcon-root {
    font-size: 46px !important;
    margin-left: 0 !important; 
    font-weight: 300!important;
    color: rgb(27, 25, 25);
}